Repository umbrellio/laravel-ltree, pull requests merged in 2019-10, with the labels that each got.

#10 Added support v4.* of postgres-extensions
  composer.json
Labels: config

#11 Add root scope
  src/Traits/LTreeModelTrait.php
  tests/Functional/LtreeTest.php
Labels: feature

#12 add method getAncestorByLevel
  src/Interfaces/LTreeModelInterface.php
  src/Traits/LTreeModelTrait.php
  tests/Functional/LtreeTest.php
Labels: feature

#13 Added belongs to level via relation
  src/Relations/BelongsToLevel.php
  src/Traits/HasTreeRelationships.php
  src/Traits/LTreeModelTrait.php
Labels: feature, need tests

#14 Feature/belongs to level
  src/Traits/LTreeModelTrait.php
Labels: bug, need tests

#15 Added eager loading to BelongsToLevel
  src/Exceptions/InvalidTraitInjectionClass.php
  src/Interfaces/LTreeModelInterface.php
  src/Relations/BelongsToLevel.php
  src/Traits/HasTreeRelationships.php
  src/Traits/LTreeModelTrait.php
  tests/Functional/CategoryStub.php
  tests/Functional/LtreeTest.php
  tests/Functional/ProductStub.php
Labels: bug, feature

#16 add belongsToTree relation
  src/Relations/BelongsToLevel.php
  src/Relations/BelongsToTree.php
  src/Traits/HasTreeRelationships.php
  tests/Functional/LtreeTest.php
  tests/Functional/ProductStub.php
Labels: feature
